:root {
    --fondo: #EDFFFE;
    --primario-suave :#E0FFEE;
    --primario-fuerte :#A6FFD0;
    --secundario-suave:#929CC9;
    --secundario-fuerte:#A5B5FF;
    --r:#ff0000;
    --borde:#ccc;
    --sombra:#dfefe7cc;
    --fondo-boton-1: #4aab77;
}

html, body {
    margin: 0;
    min-height: 1dvh;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: var(--fondo);
}

header{
    display: flex;
    align-items: center;
 
    background-color: var(--primario-fuerte);
}

header label {
    margin: 0.3em;
    display: inline-block;
    font-size: 21px;
}

header img {
    height: 32px;
}

nav {
    display: flex;
}


header nav ul {
    position: absolute;
    list-style-type: none ;
    z-index: 10;
    background-color: white;
    border: 1px solid gray;
    width: 80px;
    left: 10px;
    top: 6px;
    padding: 0;
}

header nav ul li {
    padding: 2px 5px;
    padding: 0;

}


header nav ul li:hover {
    background-color: var(--fondo);
}
header nav ul li button {
    padding: 2px 5px;
    margin: 0;
    width: 100%;
    border: none;
    background: transparent;
}

main {
    display: flex;
    flex-direction: column;
    padding: 0 0.6em;
}

main h1 {
    text-align: center;
    margin: 0.5em 0;
    font-size: 24px;
}

section select {
    padding: 2px 0 2px 6px;
}

section select, section button {
    border-radius: 5px;
    border: 1px solid #767676;
    font-size: 16px;
}


section #selector_tamano {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

section #selector_tamano button {
    margin: 20px 0 12px 0;
    padding: 4px 0;
    font-weight: bold;
    background-color: var(--fondo-boton-1);
    color: #fff;
}

section #selector_tamano button:hover, section #selector_metodo button:hover {
    background-color: #51bb7f;
}

.r {
    color: red;
}

section .tabla-ingreso, section .tabla-pasos {
    display: grid;
    padding: 4px;
    gap: 4px;
    overflow-x: auto;
    min-height: 200px;
    contain: paint;
}

section .tabla-ingreso {
    margin: 0 0 95px 0;
    
}

section .tabla-ingreso > div, section .tabla-pasos > div  {
    min-width: 100px;
    min-height: 35px;
    text-align: center;
    align-content: center;
    border-radius: 5px;
}

section .tabla-ingreso span {
    white-space: nowrap;
}

.columna_fija {
    position: sticky !important;
    left: 0 !important;
    z-index: 5;
    background-color: var(--primario-fuerte) !important;
    border-radius: 5px;
    box-shadow: -4px 0px 0px var(--fondo);
}

#tabla_ingreso > .celda_inicial.columna_fija {
    background-color: var(--primario-fuerte) !important;
    box-shadow: -4px 0px 0px var(--fondo);
}

.columna_fija::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: var(--primario-fuerte) !important; 
    z-index: -1; 
    border-radius: 5px;
}

.header_inicial {
    background-color: var(--primario-fuerte);
}

.celda_inicial {
    background-color: var(--primario-suave);
    overflow: hidden;
}

.header_solucion {
    background-color: var(--secundario-fuerte);
}

.celda_solucion {
    background-color: var(--secundario-suave);
}



.celda_inicial input {
    border: none;
    background-color: #f7fffb;
    justify-self: center;
    display: block;
    text-align: center;
    padding: 6px 0px 6px 15px;
    width: calc(100% - 35px); 
    border-radius: 3px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
}

section #selector_metodo {
    right: 0;
    left: 0;
    position: fixed;
    bottom: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 7px 10px;
    width: calc(100% - 18px);
    padding: 10px 10px 30px 10px ;
    background-color: #daf9f9;
    margin: 0;
    z-index: 10;
    box-shadow: 0px -4px 15px var(--sombra)
}


section #selector_metodo span, section #selector_metodo select {
    grid-column: span 2;
}
section #selector_metodo button {
    background-color: var(--fondo-boton-1);
    color: white;
    padding: 4px 0;
    margin-top: 10px;
}

section .navegacion_procedimientos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-self: center;
    justify-items: center;
    gap: 3px;
    margin: 0.8em 0;
    width: calc(100% - 1.2em);
}

.navegacion_procedimientos textarea {
    grid-column: span 2;
    justify-self: center;
    resize: none;
    min-height: 120px;
    width: 100%;
}

.navegacion_procedimientos img {
    grid-row: 2;
    height: 100px;
}

section .opciones-resultados {
    display: flex;
    justify-self: center;
    align-items: stretch;
    gap: 8px;
    margin: 0.8em 0.6em;
}

.opciones-resultados button {
    flex: 1;
    white-space: normal;
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    justify-content: space-around;
    min-width: 80px;
    padding: 4px 6px;
}

.opciones-resultados button img {
    height: 30px;
    width: 30px;
    
}

section#resultados {
    /* display: flex;
    flex-direction: column; */
    margin: 0 0 40px 0;
}

section iframe {
    display: block;
    justify-self: center;
    width: calc(100% - 1.2em);
    max-width: 450px;
    margin: 0.6em auto 0.6em auto;
    min-height: 500px;
    background-color: white;
}



.invisible {
    visibility: hidden;
}

[hidden] {
  display: none !important;
}


@media (min-width : 470px) {

    section #selector_tamano {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 4px;
        justify-self: center;
        width: 600px;
        max-width: 100%;
    }

    
    section #selector_tamano span {
        margin-left: 12px;
    }

    section #selector_tamano button {
        grid-column: span 2;
    }


    /* section #selector_metodo {
        width: 100% !important; 
        max-width: 100%;
        grid-template-columns: 300px 300px; 
        justify-content: center; 
        padding: 15px 20px 25px 20px;
        box-sizing: border-box;
    } */

}

@media (min-width : 615px) {
    section #selector_metodo {
        width: 100% !important; 
        max-width: 100%;
        grid-template-columns: 300px 300px; 
        justify-content: center; 
        padding: 15px 20px 25px 20px;
        box-sizing: border-box;
    }

}



